@import "tailwindcss";

@theme {
  --color-primary: #0766c6;
  --color-primary-hover: #0a7be0;
  --color-primary-active: #0555a4;
  --color-secondary: #0b7077;
  --color-secondary-hover: #0d858d;
  --color-secondary-active: #095a5f;
  --color-sidebar-background: #261E67;
  --color-hover-sidebar-background: #261E7E;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.custom-scrollbar {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}